---
interface Props {
  date: string;
  company: string;
  place: string;
  title: string;
  description: string;
  link?: string;
}

const { date, company, place, title, description, link } = Astro.props;
---

<article>
  <div class="flex flex-row justify-between items-center mt-3 mb-2">
    <h3 class="text-xl font-normal text-gray-200">
      <span class="font-bold">{company}</span>
      -
      <span class="text-gray-500">{place}</span>
      |
      <span class="font-bold">{title}</span>
    </h3>
    <time class="text-base font-thin text-gray-500 leading-none">{date}</time>
  </div>
  <p class="mb-4 text-base font-normal text-gray-400">
    {description}
  </p>
</article>
