---
import TechBadge from "./TechBadge.astro";
import { TAGS } from "../utils/Tags";
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "@/components/ui/carousel";
import Container from "./Container.astro";
import Stack from "./icons/Stack.astro";

const PROJECTS = [
  {
    title: "Nalux SA",
    description: "Management Desktop App for a gas distribution company",
    link: "",
    github: "Private",
    image: "/images/nalux_project.webp",
    tags: [TAGS.PYTHON, TAGS.MONGODB, TAGS.QT],
  },
  {
    title: "Flutter App",
    description: "Event's marketing app",
    link: "",
    github: "",
    image: "/images/flutter_project.webp",
    tags: [TAGS.DART, TAGS.FLUTTER, TAGS.NODEJS, TAGS.MONGODB],
  },
  {
    title: "Herrero&Asoc",
    description:
      "Webpage for a Customs Brokers company located in San Juan, Argentina",
    link: "",
    github: "",
    image: "/images/herreroasoc_project.webp",
    tags: [
      TAGS.JAVASCRIPT,
      TAGS.NODEJS,
      TAGS.EXPRESSJS,
      TAGS.BOOTSTRAP,
      TAGS.HTML,
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, link, github, image }) => (
    <Container class="relative flex flex-col rounded-3xl bg-white my-4 p-6 gap-3 border-2 border-transparent overflow-hidden row-span-1 col-span-8 dark:bg-raisin-black lg:p-8 lg:row-span-3 xl:col-span-4 h-[350px] sm:h-[400px] md:h-[500px] lg:h-[600px]">
      <article class="">
        <div class="mb-3 flex items-center gap-3 opacity-60 text-white">
          <Stack class="size-5 " />
          <h3 class="font-semibold text-gray-300">WORK EXPERIENCE</h3>
        </div>
        <h2 class="text-2xl text-white font-bold">{title}</h2>
        <p class="text-sm text-gray-500 font-semibold">{description}</p>

        <ul class="flex gap-x-2 flex-row mb-2 mt-2 items-center flex-wrap">
          {tags.map((tag) => (
            <li class="items-center justify-center mb-2">
              <span
                class={`flex gap-x-2 rounded-xl text-xs lg:text-sm font-medium px-2 lg:px-4 ${tag.class} py-1 border `}
              >
                <tag.icon class=" size-4 lg:size-6 " />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="absolute -right-10 w-full rounded-2xl object-cover z-[1] transition-all duration-300 lg:-right-12 lg:top-48 false"
          src={image}
          alt={title}
        />
      </article>
    </Container>
  ))
}
